html,
body {
	margin: 0;
}

.container {
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 0;
	width: 100vw;
	z-index: 4;
	max-width: 100vw;
	filter: contrast(10);
	-webkit-filter: contrast(10);
}

.centered {
	max-width: 100vw;
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	background-color: #eee;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
}
.loader {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	position: relative;
	top: 50%;
	margin: auto;
}

/* LOADER 1 */

.loader:before,
.loader:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 10px solid transparent;
	border-top-color: #3498db;
}

.loader:before {
	z-index: 100;
	animation: spin 1s infinite;
}

.loader:after {
	border: 10px solid rgb(134, 132, 132);
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
