.favoriteimg {
  box-shadow: 0px 3px 6px grey;
}

.notify {
  height: 30vh;
  width: 80vw;
  max-width: 1000px;
  background-color: rgb(224, 224, 224);
  border-radius: 20px;
}
.notify h5 {
  margin: 0;
}